.row {
    padding-top: 1%;
    padding-bottom: 1%;
}
.clickable {
    height: 50px;
    padding: 1% 10%;
    font-size: 30px;
}
.clickable:hover {
    cursor: pointer;
}
.disabled:hover {
    cursor: not-allowed;
}
.inputs {
    font-size: 30px;
    width: 80%;
    text-align: center;
}
.wrapper {
    text-align: center;
}
.player_info {
    background: #f8f8f8;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
body {
    background-color: #EEE;
}
.all_players {
    overflow-y: scroll;
}
.all_players::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.all_players::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.all_players::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #286090;
}
